config: 1

globals:
  - "global.yml"

render:
  cache: false

error_404: 
  view: "404.html"

# trusted_proxies:
#   - 10.0.0.0/8

routes:
  - path: "^\\/number\\/(\\d+)^"
    view: "number.html"
  - path: "^\\/blog\\/(\\d+)^"
    view: "blog.html" 
  - path: "/"
    view: "index.html"
  - path: "/hello/world"
    view: "hello_world.html"
  - path: "/404"
    view: "404.html"